<div class = "background-how_to_use">
<div class = "mask-how_to_use">
<div class = "container-fluid pt-5 ml-5">
<h1 class = "pt-2 mb-5 ml-5 font-img-bold">案件獲得までの大まかな流れ</h1>
  <ol>
    <div class = "row">
      <div class = "card col-5 ml-5 text-center">
        <div class = "card-body">
            <li class = "h4 pb-4 font-img">一覧画面から案件をチェックする。</li>
            <img class = "scale-how_to_use img-fluid rounded pl-5 position-how_to_use-4" src= "/assets/how_to_use1" alt="名前">
            <img class = "scale-how_to_use mx-auto position-how_to_use-2 img-fluid " src= "/assets/click-2.png" alt="名前">
        </div>
      </div>
      <div class = "card col-5 ml-5 text-center">
      <div class = "card-body">
        <li class = "h4 pb-4 font-img">案件詳細画面から募集ボタンを押す。</li>
        <img class = "scale-how_to_use img-fluid rounded position-how_to_use-5" src= "/assets/how_to_use2" alt="名前">
        <img class = "scale-how_to_use mx-auto position-how_to_use-3 img-fluid" src= "/assets/click-2.png" alt="名前">
      </div>
      </div>
    </div>
      <div class = "col-7 card mt-4 pb-0 d-flex align-items-center ml-4">
        <li class = "h4 font-img card-body ml-5">後は企業側の選考を待って、採用結果がメールで届く！</li>
      </div>
  </ol>
</div>
</div>
</div>