<div class = "backimg1">
  <div class = "arrange ">
      <h5 class = "pt-5 pl-5 col-6 display-1 backcolor font-arrange">ライブ配信を<br/>次の時代に</h5>
  </div>
  <h5 class = "display-1 float-right">ExJan</h5>
  <h5 class = "display-1 mame">X</h5>
</div>
<div class = "backimg2">
<br/>
  <p class = "display-4 text-center pt-5 font-arrange">ライブ配信者のためだけの<br/>スポンサーマッチングサイト</p>
  <div class = "pt-5 container mt-3">
    <img class = "img-small pl-3" src= "assets/person.png" alt="ストリーマー">
    <img class = "img-small pr-1 pb-4" src= "assets/arrow4.png" alt="右矢印">
    <img class = "img-small pl-5" src= "assets/WEB.png" alt="ウェブ">
    <img class = "img-small pr-1 pb-4 pl-5" src= "assets/arrow3.png" alt="左矢印">
    <img class = "img-small pl-2" src= "assets/bill.png" alt="会社">
  </div>
  <div class = "container">
    <div class = "row font-img">
      <p class = "h3 arrange2">ストリーマー</p>
      <p class = "h3 arrange3">本サイト</p>
      <p class = "h3 arrange4">企業</p>
      <p class = "arrange6">スポンサー依頼を掲載</p>
      <p class = "arrange5">スポンサーを探す</p>
    </div>
  </div>
  <div class = "row col-6 mx-auto pt-5 mt-5">
    <%= link_to "配信者の方", new_user_registration_path, class: "btn btn-warning col-5 ml-3 btn-lg mb-5 page-end border-secondary"%>
    <%= link_to "企業の方", homes_forcom_path, class: "btn btn-warning col-5 ml-5 btn-lg mb-5 page-end border-secondary"%>
    <p></p>
    <p></p>
  </div>
  <br/>
  <br/>
</div>

