<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>
    <body class = "test">  
      <div class = "display-1 styling_font">
        <p class = "col-7 mt-5 pt-5">ライブ配信を<br/>次の時代に</p>
      </div>
    </body>
  <footer>
  </footer>
</html>
