<div class = "backimg3">
  <div class = "bg-mask">
    <div class = "arrange7">
      <div class = "backimg4">
        <h2 class = "display-3 text-center pt-5 font-space font1">登録<span class = "font-space2">ありがとうございます。</span></h2>
        <h2 class = "pt-2 text-center font1 pb-3">記入していただいたメールアドレスに<br/>近日中にご連絡させて頂きます。</p>
      </div>
    </div>
  </div>
</div>