// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.test{
  background-color:#000000;
  background-image: url("green-orange-and-yellow-ink.jpg");
  background-size: cover;
}
.styling_font{
  background-color:rgba(255,255,255,.3);

}