// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.backimg1{
  position: relative;
  background-color:#000000;
  width:100%;
  height:730px;
  background-image: url("green-orange-and-yellow-ink.jpg");
  background-size: cover;
}
.backimg2{
  background-color:rgba(243, 240, 224, 0.5);
}
.backimg3{
  width:100%;
  height:735px;
  background-image: url("backimg.jpg");
  background-size: cover;
}
.backimg4{
  background-color:rgba(243, 240, 224, 0.9);
}
.img-small{
  zoom:0.45;
}
.backcolor{
  background-color:rgba(255,255,255,.1);
}
.arrange2{
  padding:10px 0px 0px 70px;
}
.arrange3{
  padding:10px 0px 0px 265px;
}
.arrange4{
  padding:10px 0px 0px 327px;
}
.arrange5{
  position:absolute;
  left:410px;
  top:1240px;
}
.arrange6{
  position:absolute;
  left:853px;
  top:1240px;
}
.arrange7{
  padding:180px 0px 0px 0px;
}
.font-img{
  font-family: "TsukuARdGothic-Regular";
}
.float-right{
  color:rgb(51, 56, 51);
  position:absolute;
  left:1200px;
  padding:220px 0px 0px 0px;
  font-family: "Impact" 
}
.mame{
  color:rgb(51, 56, 51);
  position:absolute;
  left:1290px;
  z-index:1;
  padding:180px 0px 0px 0px;
  font-family: "Bodoni Ornaments" 
}
body{
    font-family: 'ヒラギノ角ゴシック', 'メイリオ' ; 
}

.font-arrange{
  color:rgb(51, 56, 51);
  text-shadow: 2px 2px 3px silver;
  font-weight: bold;
  font-family: "Meiryo";
}
.font1{
  color:rgb(51, 56, 51);
  text-shadow: 2px 2px 3px silver;
  font-family: "Meiryo";  
}
.page-end{
  margin: 0px 0px 100px 0px;
  border-width:1.5px;
}

.font-space{
  letter-spacing: 0em
}

.font-space2{
  letter-spacing: -0.15em
}

.bg-mask {
  height: 100%;
  background: rgba(233, 221, 169, 0.5);
}
footer{
  font-size: 80%; 
  width: 100%;
  text-align: center; 
  padding-top: 10px;  
  padding-bottom: 10px;  
  background-color: #313131; 
}
footer address{
  color: #fff;    
  letter-spacing: 5px;   
  font-style: normal; 
}

.backimg-homes-forcom-1{
  width:100%;
  height:100%;
  background-image: url("15-4400-6100.jpg");
  background-size: cover;
}

.mask-homes-forcom-1{
  height: 100%;
  background: rgba(233, 221, 169, 0.2);
}