// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.background{
  background-image: url("backgrounds_001.jpg")
}
.back-img{
  padding:0px;
  background-image: url("5.jpg");
  background-size:cover;
}
.bkRGBA{
  /* 背景画像の透過用css */
  height: 100%;
  background: rgba(255,255,255,0.5);
}

.arrange-1{
  height:25%;
}

.arrange-3{
  margin:0 auto;
  width:1000px;
}