// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.background{
  background-image: url("backgrounds_001.jpg")
}
.back-img{
  width:100%;
  height:780px;
  background-image: url("backimg.jpg");
  background-size:cover;
}
.back-img2{
  width:100%;
  background: rgba(233, 221, 169, 0.5);
}
.bkRGBA{
  height: 100%;
  background: rgba(233, 221, 169, 0.3);
}
.arrange{
  padding: 100px 0px 0px 0px;
}
.arrange-1{
  height:25%;
}

.arrange-3{
  margin:0 auto;
  width:1000px;
}